.banner_trending {
    position: relative;
    width: 100%; 
    height: fit-content;
    z-index: 1;
}
.banner_trending img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    user-select: none;
    pointer-events: none;
    z-index: -1;
}

.banner_trending__details {
    position: absolute;
    margin-left: 25px;
    bottom: 15%;
}

.banner_trending__title {
    font-size: 3rem;
    margin: 0;
    margin-left: 1rem;
    padding: 0;
}

.banner_trending__description {
    font-size: 1rem;
    margin-top: 0.3rem;
    margin-left: 1rem;
    
}

.banner_trending__buttons {
    display: flex;
    gap: 10px;
}

.banner_trending__watch_button {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    color: white;
    background-color: #6100C2;

    width: 139px;
    height: 54px;

    border-radius: 14px;
    border: none;

    cursor: pointer;
}

.banner_trending__like_button {
    color: #6100C2;
    width: 54px;
    border-radius: 14px;
    border: none;
    padding: 0;
    cursor: pointer;

    background: linear-gradient(to right, white 15%, rgb(176, 176, 176) 100%);
}

.banner_trending__like_button img {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}