h2 {
    margin-left: 15px;
}

.home_wrapper {
    position: relative;
    top: 0%;
    left: 0%;

    width: 100%;
    min-height: 100vh;
    height: fit-content;

    background: linear-gradient(180deg, #6100c220 5%, transparent 100%  );
    z-index: 1;
}

.trending_block {
    width: 100%;
}